<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString.SQL Server (SqlClient)" connectionString="Initial Catalog=Northwind;Data Source=.;Trusted_Connection=yes"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
